__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
build/
dist/
.venv/
.env
.env.*
.vscode/
.idea/
*.swp
logs/
*.log
cache/
*.sqlite3
.ipynb_checkpoints/
.coverage*
pytest-cache/
htmlcov/
.DS_Store
Thumbs.db
